:root {
  --noto-serif: "Noto Serif KR";
  --noto-sans: "Noto Sans KR";
}
html {
  font-size: 62.5%;
}
body {
  overflow-x: hidden;
}

.noto-serif-kr-regular {
  font-family: "Noto Serif KR", serif;
  font-weight: 400;
  font-style: normal;
}
header {
  position: fixed;
  z-index: 10;
  width: 100%;
}
.menu-align {
  display: flex;
}

.menu {
  padding: 1rem;
  margin: 1.6rem;

  height: 7.2rem;
  background-color: #f5f5f5;
  border-radius: 1.4rem;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1.5rem;
  color: black;

  overflow: hidden;
  align-content: center;

  .menu-space-btw {
    display: flex;
    justify-content: space-between;
  }
  .menu-title {
    top: 0;
    height: 7rem;
    padding-right: 3.3rem;
    background-color: bisque;
    align-content: center;
  }

  .menu-title-2 {
    margin-right: 3.3rem;
  }

  .menu-align-arrow {
    margin-right: 0.7rem;
  }
  .menu-logo {
    width: 7.9rem;
    height: 3.8rem;
    margin-right: 0.7rem;
    margin-left: 3.1rem;
  }
  .menu-logo-2 {
    width: 4rem;
    height: 4rem;
  }
  .arrow {
    fill: #7c7c7c;
  }
  .menu-1 {
    display: flex;
    align-items: center;
    white-space: nowrap;
    justify-content: baseline;
    .menu-1-text {
      font-family: "Noto Sans KR", sans-serif;
      margin-right: 3.3rem;
    }
  }
  .menu-2 {
    display: flex;
    align-items: center;

    white-space: nowrap;
    gap: 3.3rem;
    .ico-person {
      width: 2.2rem;
      height: 2.2rem;
      margin-right: 1.6rem;
    }
    .btn-playNow {
      border-radius: 1rem;
      padding: 1rem 2rem;
      color: white;
      font-size: 1.7rem;
      background-color: #ff8a1f;
      margin-right: 3.1rem;
    }
  }

  .menu-hover {
    font-family: "Noto Sans KR", sans-serif;
    margin-right: 3.3rem;
  }
  .list1 {
    height: 15rem;
    font-size: 2.1rem;

    position: absolute;
    background-color: #ff8a1f;
    .list1-1 {
      margin: 1rem;
    }
  }
  .log-in-btn {
    width: 3rem;
    height: 3rem;
  }
  .ico-login {
    width: 2rem;
    height: 2rem;
  }
  .ico-bitcoin {
    width: 3rem;
  }
}
.main-1 {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-style: italic;
  font-weight: 600;
}
.hidden-video {
  position: absolute;
  width: 100%;
  height: 108rem;
  background: rgba(0, 0, 0, 0.1);
}

.video-text {
  opacity: 80%;
  font-family: var(--noto-serif);
  position: absolute;
  color: white;
  font-size: 4.4rem;
  top: 56%;
}
.main-text-logo {
  position: absolute;
  width: 48.2rem;
  top: 30%;
}
.video-text-2 {
  opacity: 90%;
  position: absolute;
  color: whitesmoke;
  font-size: 2.5rem;
  top: 65%;
  font-style: none;
}
.main-btn {
  position: absolute;
  font-size: 3rem;
  top: 73%;
  padding: 1.5rem 2.5rem;
  background-color: #ff8a1f;
  font-family: var(--noto-sans);
  color: white;
  opacity: 87%;
}

.main-2 {
  width: 100%;
  position: relative;
  .main-2-pastel {
    width: 100%;
    height: 108rem;
    background-color: cadetblue;
  }
  .main-2-video {
    top: 30%;
    width: 40%;
    height: 40%;
    right: 5%;
    position: absolute;
  }
  .main-2-text {
    align-content: center;
    top: 40%;
    margin-left: 1%;
    position: absolute;

    font-family: var(--noto-sans);
    text-align: center;
    .main-2-text-bold {
      font-weight: 700;
      font-size: 5.2rem;
    }
    .main-2-text-2 {
      font-size: 3rem;
    }
  }
}
.main-3 {
  width: 100%;
  position: relative;
  .main-3-img {
    width: 100%;

    filter: blur(6rem);
  }
  .main-3-video {
    margin-left: 7%;
    top: 28%;
    width: 50%;
    height: 50%;
    position: absolute;
    gap: 3rem;
  }
  .main-3-text {
    right: 5%;
    top: 35%;
    margin-left: 5%;
    position: absolute;

    font-family: var(--noto-sans);

    .main-3-text-bold {
      font-weight: 800;
      font-size: 6.5rem;
      margin-bottom: 1rem;
      color: white;
    }
    .main-3-text-2 {
      font-size: 2rem;
      color: white;
    }
    button {
      margin-top: 2rem;
      font-weight: 700;
      font-size: 2.5rem;
      color: gray;
      padding: 1.5rem 2rem;
    }
  }
}
.main-4 {
  position: relative;
  justify-content: center;
  align-items: center;
  .main-4-position {
    position: absolute;
    justify-content: center;
  }
  .main4-title {
    text-align: center;
    top: 50%;
    left: 50%;
    color: black;
    font-size: 6rem;
    font-weight: 700;
    margin-top: 10%;
    margin-bottom: 5%;
  }
  .main4-pastel {
    position: absolute;

    width: 100%;
  }
  .main4-grid {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;

    gap: 5rem;
    .textbox {
      background-color: darkslateblue;
      color: white;
      font-family: var(--noto-sans);
      font-weight: 700;
      font-size: 3rem;
      padding: 1rem;
      text-align: center;
      .textbox-2 {
        font-size: 1.5rem;
      }
    }
    .main4-content {
      object-fit: contain;
      width: 100%;
    }
  }
}
