:root {
  --noto-serif: "Noto Serif KR";
  --noto-sans: "Noto Sans KR";
  --button: 1.1rem;
}
html {
  font-size: 62.5%;
}
body {
  overflow-x: hidden;
  justify-content: center;
}
header {
  .menu-1-text {
    &:hover {
      color: #ff8a1f;
    }
  }
  .menu-align-arrow {
    &:hover {
      color: #ff8a1f;
      filter: invert(65%) sepia(92%) saturate(2431%) hue-rotate(344deg)
        brightness(101%) contrast(101%);
      .arrow {
        filter: invert(65%) sepia(92%) saturate(2431%) hue-rotate(344deg)
          brightness(101%) contrast(101%);
      }
    }
  }
  .ico-search {
    &:hover {
      filter: invert(65%) sepia(92%) saturate(2431%) hue-rotate(344deg)
        brightness(101%) contrast(101%);
    }
  }
}
.noto-serif-kr-regular {
  font-family: "Noto Serif KR", serif;
  font-weight: 400;
  font-style: normal;
}
/* 헤더 영역 */
.title-container {
  width: 13%;
  height: 7.2rem;
  align-content: center;
}

.title-top {
  display: flex;
}

.menu-align {
  margin: 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
}
.h1-align {
  display: block;
  height: 7.2rem;

  align-content: center;
  justify-content: center;
}
.menu-title-h1 {
  padding: 0 3.3rem;
  border-top-left-radius: 1.4rem;
  border-bottom-left-radius: 1.4rem;
  align-content: center;
  background-color: bisque;
  height: 7.2rem;
}

.menu-title-2 {
  align-content: center;
}
.menu-align-arrow {
  margin-right: 0.7rem;
}
.arrow {
  filter: invert(84%) sepia(8%) saturate(12%) hue-rotate(359deg) brightness(72%)
    contrast(88%);
}
.arrow2 {
  filter: invert(97%) sepia(0%) saturate(799%) hue-rotate(245deg)
    brightness(118%) contrast(100%);
}

.menu-logo {
  width: 7.9rem;
  height: 5.2rem;
  gap: 0.7rem;
}
.h1-align:has(img) {
  &:hover {
    color: #000066;
    filter: brightness(0.7);
  }
}
.menu-logo-2 {
  width: 4rem;
  height: 4rem;
  margin-left: 2rem;
}
nav {
  .arrow {
    margin-left: 0.7rem;
  }
}
.menu {
  left: 50%;
  margin-left: -48.5%;
  z-index: 1001;
  position: absolute;
  width: 97%;
  align-items: center;
  position: fixed;
  margin-top: 1.6rem;
  height: 7.2rem;
  background-color: #f5f5f5;
  border-radius: 1.4rem;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1.5rem;
  color: black;

  align-content: center;

  .menu-space-btw {
    margin: 0 2rem;
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 85%;
  }
  .menu-1 {
    display: flex;
    align-items: center;
    white-space: nowrap;
    justify-content: baseline;
    .menu-1-text {
      font-family: "Noto Sans KR", sans-serif;
      margin-right: 3.3rem;
    }
  }
  .menu-2 {
    display: flex;
    align-items: center;

    white-space: nowrap;
    gap: 3.3rem;
    .ico-person {
      width: 2.2rem;
      height: 2.2rem;
      margin-right: 1.6rem;
    }
    .btn-playNow {
      border-radius: 1rem;
      padding: 1rem 2rem;
      color: white;
      font-size: 1.7rem;
      background-color: #ff8a1f;
    }
    .menu-search {
      background-image: url(../img/ico-search.svg);
      background-repeat: no-repeat;
      background-position: 1rem center;
      padding-left: 3rem;
      width: 25rem;
      height: 3rem;
      border-radius: var(--button);
      border: 0.2rem solid #ff8a1f;
    }
  }
  .sub-menu {
    padding: 0.1rem;
  }
  .menu-hover {
    font-family: "Noto Sans KR", sans-serif;
    margin-right: 3.3rem;
  }
  .list1 {
    font-size: 2.1rem;
    background: gray;
    overflow: visible;
    position: absolute;
    padding: 1.5rem;
    border-bottom-left-radius: 2.2rem;
    border-bottom-right-radius: 2.2rem;
    > ul {
      position: relative;
    }
    .list1-1 {
      top: 0;
      padding: 0.5rem;
      display: block;
      font-size: 1.7rem;
      color: #f5f5f5;
      &:hover {
        color: #ff8a1f;
      }
    }
  }
  .log-in-btn {
    border-radius: var(--button);
    height: 3.3rem;
    border: 0.2rem solid #ff8a1f;
    font-size: 1rem;
    padding: 0.5rem;
    align-items: center;
    justify-content: center;
  }
  .ico-login {
    width: 2rem;
    height: 2rem;
  }
  .ico-bitcoin {
    width: 3rem;
  }
}
/* 메인 영역 */
.main-1 {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-style: italic;
  font-weight: 600;
}
.hidden-video {
  position: absolute;
  width: 100%;
  height: 108rem;
  background: rgba(0, 0, 0, 0.1);
}

.video-text {
  opacity: 80%;
  font-family: var(--noto-serif);
  position: absolute;
  color: white;
  font-size: 4.4rem;
  top: 56%;
}
.main-text-logo {
  position: absolute;
  width: 48.2rem;
  top: 30%;
}
.video-text-2 {
  opacity: 90%;
  position: absolute;
  color: whitesmoke;
  font-size: 2.5rem;
  top: 65%;
  font-style: none;
}
.main-btn {
  position: absolute;
  font-size: 3rem;
  top: 73%;
  padding: 1.5rem 2.5rem;
  background-color: #ff8a1f;
  font-family: var(--noto-sans);
  color: white;
  opacity: 87%;
}

.main-2 {
  width: 100%;
  position: relative;
  .main-2-pastel {
    width: 100%;
    height: 108rem;
    background-color: cadetblue;
  }
  .main-2-video {
    top: 30%;
    width: 40%;
    height: 40%;
    right: 5%;
    position: absolute;
  }
  .main-2-text {
    align-content: center;
    top: 40%;
    margin-left: 1%;
    position: absolute;

    font-family: var(--noto-sans);
    text-align: center;
    .main-2-text-bold {
      font-weight: 700;
      font-size: 5.2rem;
    }
    .main-2-text-2 {
      font-size: 3rem;
    }
  }
}
.main-3 {
  position: relative;
  width: 100%;
  height: 108rem;
  background-image: url(/img/img-66load.jpg);
  background-size: cover;

  .main-3-img {
    width: 100%;

    filter: blur(6rem);
  }
  .main-3-video {
    margin-left: 7%;
    top: 28%;
    width: 50%;
    height: 50%;
    position: absolute;
    gap: 3rem;
  }
  .main-3-text {
    right: 5%;
    top: 35%;
    margin-left: 5%;
    position: absolute;

    font-family: var(--noto-sans);

    .main-3-text-bold {
      font-weight: 800;
      font-size: 6.5rem;
      margin-bottom: 1rem;
      color: white;
    }
    .main-3-text-2 {
      font-size: 2rem;
      color: white;
    }
    button {
      margin-top: 2rem;
      font-weight: 700;
      font-size: 2.5rem;
      color: gray;
      padding: 1.5rem 2rem;
    }
  }
}
.main-4 {
  margin-bottom: 20rem;
  background-image: url("./img/pastel2.png");

  justify-content: center;
  align-items: center;
  .main-4-position {
    justify-content: center;
  }
  .main4-title {
    text-align: center;
    top: 50%;
    left: 50%;
    color: black;
    font-size: 6rem;
    font-weight: 700;
    margin-top: 10%;
    margin-bottom: 5%;
  }

  .main4-grid {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;

    gap: 5rem;
    .textbox {
      background-color: darkslateblue;
      color: white;
      font-family: var(--noto-sans);
      font-weight: 700;
      font-size: 3rem;
      padding: 1rem;
      text-align: center;
      .textbox-2 {
        font-size: 1.5rem;
      }
    }
    .main4-content {
      object-fit: contain;
      width: 100%;
    }
  }
}
/* 
푸터 영역 */

.footer-container {
  width: 100%;
  height: 50.2rem;
  padding: 12rem 4rem;
  background: linear-gradient(90deg, #000066, #000099, #000066);
  .section {
    width: 75%;
    margin: 0 auto;
  }
  .footer-section-top {
    display: flex;
    justify-content: space-between;
  }

  .text-link {
    display: inline-block;
    font-family: var(--noto-sans);
    color: white;
    font-size: 1.8rem;
    font-weight: 700;
    padding: 1.6rem;
  }
  .text-link2 {
    font-family: var(--noto-sans);
    color: white;
    font-size: 1.8rem;
    font-weight: 700;
    padding: 0 2rem;

    background-color: rgba(255, 255, 255, 0.1);

    &:hover {
      background-color: white;
      color: black;
      .arrow2 {
        filter: invert(0%) sepia(64%) saturate(4%) hue-rotate(289deg)
          brightness(100%) contrast(100%);
      }
    }
  }
  .footer-section-border {
    margin-top: 2rem;
    border: 0.1rem solid white;
    opacity: 0.2;
  }
  .footer-section3 {
    font-size: 1.4rem;
    display: flex;
    position: relative;
    margin-top: 4rem;
    color: white;
    .footer-logo {
      margin-top: -1.2rem;
      margin-right: 3rem;
      width: 15rem;
      aspect-ratio: 1.25/1;
    }
    .footer-section3-ul {
      display: flex;
      margin-top: 2rem;
    }
  }
  .footer-section3-2 {
    opacity: 0.8;
  }
  .footer-section3-li {
    margin-right: 2rem;
  }

  .footer-icon-fm {
    width: 4rem;
    height: 4rem;
    background-color: white;
    border-radius: 100%;
    opacity: 0.7;
  }
}

.footer-section3-3 {
  margin-left: auto;
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.footer-section4 {
  margin-left: 0.4rem;
  font-family: var(--noto-sans);
  font-size: 1.4rem;
  color: white;
  opacity: 0.8;
}
